*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

body {
    background-color: $background;
    color: $secondary;
    margin: 0;
}
