*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

body {
    font-family: $font-public-sans;
    background-color: $background;
    color: $font;
    margin: 0;
    font-size: 1rem;
}
