// breakpoints
$breakpoint-xs: 599px !default;
$breakpoint-sm: 1023px !default;
$breakpoint-md: 1439px !default;
$breakpoint-lg: 1919px !default;
$breakpoint-xl: 2159px !default;

$sizes: (
    'xs': 0,
    'sm': (
        $breakpoint-xs + 1
    ),
    'md': (
        $breakpoint-sm + 1
    ),
    'lg': (
        $breakpoint-md + 1
    ),
    'xl': (
        $breakpoint-lg + 1
    ),
    'xxl': (
        $breakpoint-xl + 1
    )
) !default;

@mixin breakpoint($size) {
    @media (min-width: #{map-get($sizes, $size)}) {
        @content;
    }
}

// fonts
$font-drukcyr-medium: 'DrukCyr-Medium';
$font-gilroy-medium: 'Gilroy-Medium';
$font-gilroy-bold: 'Gilroy-Bold';
$font-public-sans: 'Public Sans';

// colors
$unlimited: #7367f0 !default;

$primary: #7367f0 !default;
$secondary: #ffffff !default;

$font: #d0d4f1ad !default;
$font-highlighted: #ffffff !default;
$background: #25293c !default;
$background2: #2e3248 !default;

$accent: #7367f0 !default;
$positive: #4caf50 !default;
$negative: #b00020 !default;
$info: #2196f3 !default;
$warning: #fb8c00 !default;

$white: #ffffff !default;
$black: #000000 !default;
$purple: #eb73ff !default;
$orange: #ffa573 !default;
$blue: #73cdff !default;
$green: #86ff73 !default;
$red: #ff7373 !default;
