$unlimited: #7367f0 !default;

$primary: #7367f0 !default;
$secondary: #ffffff !default;

$background: #25293c !default;
$background2: #2e3248 !default;

$accent: #7367f0 !default;
$positive: #4caf50 !default;
$negative: #b00020 !default;
$info: #2196f3 !default;
$warning: #fb8c00 !default;

$white: #ffffff !default;
$black: #000000 !default;
$purple: #eb73ff !default;
$orange: #ffa573 !default;
$blue: #73cdff !default;
$green: #86ff73 !default;
$red: #ff7373 !default;
