:root {
    --unlimited: #{$unlimited};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent: #{$accent};
    --positive: #{$positive};
    --negative: #{$negative};
    --info: #{$info};
    --warning: #{$warning};
    --white: #{$white};
    --black: #{$black};
    --purple: #{$purple};
    --orange: #{$orange};
    --blue: #{$blue};
    --green: #{$green};
    --red: #{$red};

    --q-font: #{$font};
    --q-font-secondary: #{$font-secondary};
    --q-font-highlighted: #{$font-highlighted};
    --q-background: #{$background};
    --q-background2: #{$background2};
}

.bg-background {
    background-color: $background !important;
}

.bg-background2 {
    background-color: $background2 !important;
}
