@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/styles/fonts/Montserrat.woff2) format('woff2');
}

:root {
    --q-main: #d0d4f1c7;
}

* {
    font-family: 'Montserrat';
    color: var(--q-main) !important;
}

.text-main {
    color: var(--q-main) !important;
}

.bg-main {
    background: var(--q-main) !important;
}
